<header class="page-header">
  <div class="page-header__logo-wrap">
    <a href="index.html" class="logo">
      <img src="img/logo.png" alt="" class="logo__img">
      <span class="logo__text--hidden">Сайт портфолио</span>
    </a>
  </div>
  <div class="page-header__social-wrap">
    <div class="social">
      <a href="#" class="social__btn social__btn--vk">Вконтаке</a>
      <a href="#" class="social__btn social__btn--twitter">Твиттер</a>
      <a href="#" class="social__btn social__btn--facebook">Фейсбук</a>
      <a href="#" class="social__btn social__btn--github">Гитхаб</a>
    </div>
  </div>
  <button class="navbar-toggle" type="button">
    <span class="navbar-toggle__lines"></span>
  </button>
  <div class="page-header__memu-wrap">
    <nav class="main-nav">
      <ul class="main-nav__list">
        <li class="main-nav__item"><a href="" class="main-nav__link">Обо мне</a></li>
        <li class="main-nav__item"><a href="" class="main-nav__link">Мои работы</a></li>
        <li class="main-nav__item"><a href="" class="main-nav__link">Связаться со мной</a></li>
      </ul>
    </nav>
  </div>
</header>