<main class="page-content">
  <div class="page-content__inner">
    <section class="main-content">
      <div class="main-content__inner">
        <article class="basic-information">
          <header class="basic-information__title">Основная информация</header>
          <div class="basic-information__content">
            <div class="basic-information__avatar-wrap">
              <div class="avatar">
                <picture>
                  <source media="(min-width: 768px)" srcset="img/avatar-768.png" width="200" height="200">
                  <img src="img/avatar.png" alt="Моя фотография" class="avatar__img">
                </picture>
              </div>
            </div>
            <dl class="basic-information__list">
              <dt class="basic-information__name">Меня завут:</dt>
              <dd class="basic-information__desc">Паниченко Александр Сергеевич</dd>
              <dt class="basic-information__name">Мой возраст:</dt>
              <dd class="basic-information__desc">33 года</dd>
              <dt class="basic-information__name">Мой город:</dt>
              <dd class="basic-information__desc">Пушкино, Московская область</dd>
              <dt class="basic-information__name">Моя специализация:</dt>
              <dd class="basic-information__desc">FRONTEND Разработчик</dd>
              <dt class="basic-information__name">Ключевые навыки:</dt>
              <dd class="basic-information__desc">
                <span class="skills">html</span>
                <span class="skills">css</span>
                <span class="skills">git</span>
                <span class="skills">gulp</span>
                <span class="skills">sass</span>
                <span class="skills">bem</span>
                <span class="skills">javascript</span>
              </dd>
            </dl>
          </div>
        </article>
        <article class="experience">
          <header class="experience__title">Опыт работы</header>
          <ul class="experience__list">
            <li class="experience__item">
              <span class="experience__item-name">ОАО "Корпорация "Тактическое ракетное вооружиен" - инженер</span>
              <span class="experience__item-time">август 2005 - ноябрь 2006</span>
            </li>
            <li class="experience__item">
              <span class="experience__item-name">Служба в армии</span>
              <span class="experience__item-time">ноябрь 2006 - ноябрь 2008</span>
            </li>
            <li class="experience__item">
              <span class="experience__item-name">ГУП МО "Мособлгаз" - инженер</span>
              <span class="experience__item-time">февраль 2009 - июнь 2013</span>
            </li>
          </ul>
        </article>
        <article class="education">
          <header class="education__title">Образование</header>
          <ul class="education__list">
            <li class="education__item">
              <span class="education__item-name">МГТУ им. Баумана</span>
              <span class="education__item-time">1999 - 2005</span>
            </li>
            <li class="education__item">
              <span class="education__item-name">Курсы HTML academy</span>
              <span class="education__item-time">сентябрь 2015 - декабрь 2015</span>
            </li>
          </ul>
        </article>
      </div>
    </section>
    <aside class="side-bar">
      <div class="side-bar__nav-wrap">
        <nav class="main-nav">
          <ul class="main-nav__list">
            <li class="main-nav__item"><a href="" class="main-nav__link">Обо мне</a></li>
            <li class="main-nav__item"><a href="" class="main-nav__link">Мои работы</a></li>
            <li class="main-nav__item"><a href="" class="main-nav__link">Связаться со мной</a></li>
          </ul>
        </nav>
      </div>
      <div class="side-bar__contacts-wrap">
        <div class="contacts">
          <div class="contacts__title">Контакты</div>
          <ul class="contacts__list">
            <li class="contacts__item contacts__item--email"><a href="mailto:nasada@yandex.ru" class="contacts__link contacts__link--email">nasada@yandex.ru</a></li>
            <li class="contacts__item contacts__item--phone"><a href="tel:+79263203017" class="contacts__link contacts__link--phone">+7 926 320 30 17</a></li>
            <li class="contacts__item contacts__item--skype"><a href="skype:baks_n4" class="contacts__link contacts__link--skype">baks_n4</a></li>
          </ul>
        </div>
      </div>
      <div class="side-bar__social-wrap">
        <div class="social">
          <a href="#" class="social__btn social__btn--vk">Вконтаке</a>
          <a href="#" class="social__btn social__btn--twitter">Твиттер</a>
          <a href="#" class="social__btn social__btn--facebook">Фейсбук</a>
          <a href="#" class="social__btn social__btn--github">Гитхаб</a>
        </div>
      </div>
    </aside>
  </div>
</main>