@mixin font($ff: $ff-base, $fs: $fs-base, $lh: $lh-base, $fw: $fw-light, $color: $font-color, $fst: $fst-normal) {
  font-family: $ff;
  font-size: $fs;
  line-height: $lh;
  font-weight: $fw;
  color: $color;
  font-style: $fst;
}

@mixin container() {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}