%zero-list {
  margin: 0;
  padding: 0;
  list-style: none;
  
  & > * {
    margin: 0;
    padding: 0;
  }
}

%info-block {
  background-color: $gray-3;
  border-radius: 5px;
  padding: 12px;
  margin-bottom: 15px;
  
  @media (min-width: 768px) {
    padding: 18px;
    padding-top: 25px;
    padding-left: 0;
    padding-bottom: 45px;
    margin-bottom: 30px;
  }
  
  @media (min-width: 1200px) {
    padding-bottom: 40px;
    padding-top: 20px;
  }
  
  &__title {
    @include font($fs-info-block-title-320, $lh-base, $fw-normal, $blue-1);
    
    text-align: center;
    margin-bottom: 20px;
    
    @media (min-width: 768px) {
      display: inline-block;
      font-size: $fs-info-block-title-768;
      text-align: left;
      padding-left: 28px;
      padding-right: 28px;
      padding-bottom: 15px;
      border-bottom: 2px solid $blue-1;
      
      margin-bottom: 30px;
    }
    
    @media (min-width: 1200px) {
      margin-bottom: 20px;
    }
  }
  
  &__list {
    @extend %zero-list;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @media (min-width: 768px) {
      align-items: flex-start;
      padding-left: 60px;
    }
    
    @media (min-width: 1200px) {
      padding-left: 55px;
    }
  }
  
  &__item {
    position: relative;
    padding-top: 60px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;

    @media (min-width: 768px) {
      text-align: left;
      padding-top: 0;
      padding-left: 60px;
      margin-bottom: 35px;
    }
    
    @media (min-width: 1200px) {
      padding-left: 55px;
    }
    
    &:last-child {
      @media(min-width: 768px) {
        margin-bottom: 0;
      }
    }
    
    &::before {
      content: "";
      position: absolute;
      width: 40px;
      height: 40px;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      
      @media (min-width: 768px) {
        top: -5px;
        right: auto;
      }
    }
    
    &-name {
      @include font($fs-list-name-320, $lh-list, $fw-normal);
      margin-bottom: 5px;
      
      @media (min-width: 768px) {
        @include font($fs-list-name-768, $lh-list, $fw-normal);
        margin-bottom: 0;
      }
      
      @media (min-width: 1200px) {
        font-size: $fs-list-name-1200;
      }
    }
    
    &-time {
      @include font($fs-list-time-320, $lh-list);
      
      @media (min-width: 768px) {
        @include font($fs-list-time-768, $lh-list);
      }
      
      @media (min-width: 1200px) {
        font-size: $fs-list-time-1200;
      }
    }
  }
}

