body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  font-weight: normal;
  font-style: normal;
  font-size: $fs-base;
  color: $font-color;
}


body *,
body *::before,
body *::after {
  box-sizing: inherit;
}