h1 {
  @include font($fs-h1, $lh-1, $fw-normal);
}

h2 {
  @include font($fs-h2, $lh-2, $fw-normal);
}

h3 {
  @include font($fs-h3, $lh-3, $fw-normal);
}

h4 {
  @include font($fs-h4, $lh-4, $fw-normal);
}

h5 {
  @include font($fs-h5, $lh-5, $fw-normal);
}

h6 {
  @include font($fs-h6, $lh-6, $fw-normal);
}

p {
  @include font($fs-p, $lh-p, $fw-thin);
}

ul {
  
}

li {
  
}

a {
  @include font($fs-p, $lh-p, $fw-thin, $link-color, $fst-italic);
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
  &:active,
  &:focus {
    color: darken($link-color, 50%);
    text-decoration: underline;
  }
}

