// colors

$blue-1: #3ba8c0;
$blue-2: #41b9d4;
$blue-3: #48cbe8;
$blue-4: #51daf8;

$gray-1: #58697a;
$gray-2: #959aa8;
$gray-3: #eff3f7;
$gray-4: #849db5;

$balck: #000000;
$white: #ffffff;

$font-color: #4a545d;
$link-color: #89cbd9;

$bg-color-header: #eff3f7;
$bg-color-footer: #eff3f7;

$skills-gradient-color-top: $blue-1;
$skills-gradient-color-bottom: darken($blue-1, 11);

$email-color-320: #27a1ba;
$email-color-768: $blue-3;
$phone-color-320: $blue-2;
$phone-color-768: $blue-2;
$skype-color-320: $blue-3;
$skype-color-768: $blue-4;

//typography - font-size

$fs-base: 15px;

$fs-p: $fs-base;
$fs-h1: round($fs-base * 1.8);     // 27px
$fs-h2: round($fs-base * 1.6667);  // 25px
$fs-h3: round($fs-base * 1.5334);  // 23px
$fs-h4: round($fs-base * 1.4);     // 21px
$fs-h5: round($fs-base * 1.2667);  // 19px
$fs-h6: round($fs-base * 1.1334);  // 17px

$fs-info-block-title-320: round($fs-base * 1.6);   // 24px
$fs-info-block-title-768: round($fs-base * 1.8);  // 27px
$fs-basic-information-name-320: round($fs-base * 1.3334); // 20px
$fs-basic-information-name-320: round($fs-base * 1.2667); // 19px
$fs-basic-information-desc-320: round($fs-base * 1.2667); // 19px
$fs-basic-information-desc-320: round($fs-base * 1.2); // 18px
$fs-list-name-320: 17px;
$fs-list-name-768: 19px;
$fs-list-time-320: 15px;
$fs-list-time-768: 18px;
$fs-skill-320: 14px;
$fs-copyright-320: 11px;
$fs-copyright-768: 13px;



//typography - font-family

$ff-base: "fira_sans", Helvetica, Arial, sans-serif;
$ff-skills: "proxima_nova", Helvetica, Arial, sans-serif;


//typography - line-height

$lh-base: 1.4;

$lh-p: round($fs-p * $lh-base);
$lh-1: round($fs-h1 * $lh-base);
$lh-2: round($fs-h2 * $lh-base);
$lh-3: round($fs-h3 * $lh-base);
$lh-4: round($fs-h4 * $lh-base);
$lh-5: round($fs-h5 * $lh-base);
$lh-6: round($fs-h6 * $lh-base);

$lh-list: 1.2;
$lh-copyright: 1.2;

//typography - font-weight

$fw-normal: 400;
$fw-thin: 300;
$fw-bold: 700;
$fw-regular: 600;

//typography - font-style

$fst-normal: normal;
$fst-italic: italic;






