.basic-information {
  
  @extend %info-block;
  
  @media (min-width: 768px) {
    padding-bottom: 30px;
  }
  
  @media (min-width: 1200px) {
    padding-bottom: 35px;
  }
  
  &__title {
    @extend %info-block__title;
  }
  
  &__avatar-wrap {
    width: 132px;
    @include center();
    margin-bottom: 20px;
    
    @media (min-width: 768px) {
      margin: 0;
      width: 200px;
      margin-left: 30px;
      margin-right: 40px;
    }
    
    @media (min-width: 1200px) {
      width: 150px;
      padding-top: 15px;
      margin-left: 52px;
      margin-right: 24px;
    }
  }
  
  &__content {
    @media (min-width: 768px) {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
  }
  
  &__list {
    @extend %zero-list;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    
    
    @media (min-width: 768px) {
      text-align: left;
      display: block;
    }
  }
  
  &__name {
    @include font($fs-basic-information-name-320, $lh-list, $fw-bold, $list-name-color);
    
    @media (min-width: 768px) {
      float: left;
      clear: both;
      font-size: $fs-basic-information-name-768;
      margin-right: 5px;
    }
    
    @media (min-width: 1200px) {
      font-size: $fs-basic-information-name-1200;
      margin-right: 18px;
    }
  }
  
  &__desc {
    @include font($fs-basic-information-desc-320, $lh-list, $fw-regular, $list-desc-color);
    margin-bottom: 28px;
    
    @media (min-width: 768px) {
      margin-bottom: 15px;
      display: block;
      float: left;
      font-size: $fs-basic-information-desc-768;
    }
    
    @media (min-width: 1200px) {
      font-size: $fs-basic-information-desc-1200;
    }
    
    &:last-child {
      width: 100px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 0;
      
      @media (min-width: 768px) {
        width: auto;
        max-width: 55%;
        justify-content: flex-start;
      }
    }
  }
}