.contacts {
    
  margin-bottom: 20px;
  
  @media (min-width: 768px) {
    margin-bottom: 0;
    border-radius: 3px;
    overflow: hidden;
  }
  
  &__title {
    display: none;
    background-color: $blue-1;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 20px;
    
    @include font($fs-side-bar-caption, $lh-base, $fw-normal, $white)
    
    @media (min-width: 1200px) {
      display: block;
    }
  }

  &__list {
    @extend %zero-list;
    display: flex;
    flex-direction: column;
    
    @media (min-width: 768px) {
      flex-direction: row;
    }
    
    @media (min-width: 1200px) {
      flex-direction: column;
    }
  }
    
  &__item {
    @media (min-width: 768px) {
      flex-basis: 33.3%;
      flex-grow: 1;
      
      &--email {
        order: 2;
      }
      
      &--skype {
        order: 3;
      }
      
      &--phone {
        order: 1;
      }
    }
    
    @media (min-width: 1200px) {
      width: 250px;
      
      &--email {
        order: 1;
      }
      
      &--skype {
        order: 3;
      }
      
      &--phone {
        order: 2;
      }
    }
  }
  
  &__link {
    position: relative;
    display: block;
    height: 100%;
    text-align: left;
    padding-left: 38%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    @include font($fs-contact-link-320, $lh-base, $fw-normal, $white)
    
    @media (min-width: 768px) {
      padding-left: 35%;
      padding-top: 14px;
      padding-bottom: 14px;
      font-size: $fs-contact-link-768;
    }
    
    @media (min-width: 1200px) {
      padding-left: 33%;
    }
    
    &:hover {
      text-decoration: none;
      
      @media (min-width: 1200px) {
        text-decoration: underline;
      }
    }
    
    & svg {
      position: absolute;
      right: 65%;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 22px;
      height: 22px;
      fill: $white;
      
      @media (min-width: 768px) {
        bottom: 5px;
        right: 70%;
        width: 25px;
        height: 25px;
      }
      
      @media (min-width: 1200px) {
        right: 73%;
      }
    }
    
    &--email {
      background-color: $email-color-320;
      
      @media (min-width: 768px) {
        background-color: $email-color-768;
      }
      
      @media (min-width: 1200px) {
        background-color: $email-color-1200;
      }
    }
    
    &--phone {
      background-color: $phone-color-320;
      
      @media (min-width: 768px) {
        background-color: $phone-color-768;
      }
      
      @media (min-width: 1200px) {
        background-color: $phone-color-1200;
      }
    }
    
    &--skype {
      background-color: $skype-color-320;
      
      @media (min-width: 768px) {
        background-color: $skype-color-768;
      }
      
      @media (min-width: 1200px) {
        background-color: $skype-color-1200;
      }
    }
  }
}