.page-header {
  position: relative;
  background-color: $bg-color-header;
  border-width: 0;
  border-bottom-width: 3px;
  border-style: solid;
  border-color: #2c7083;
  border-image-source: linear-gradient(90deg, rgb(242,246,250) 0%, rgb(135,174,186) 20%, rgb(28,102,122) 50%, rgb(135,174,186) 80%, rgb(242,246,250) 100%);
  border-image-slice: 0% 0% 100% 0%;
  
  
  &__logo-wrap {
  }
  
  &__inner {
    @include container();
    position: relative;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 17px;
    padding-bottom: 7px;
    
    @media (min-width: 768px) {
      padding-top: 38px;
      padding-bottom: 30px;
    }
    
    @media (min-width: 1200px) {
      width: 100%;
      max-width: 1200px;
      padding-left: 0;
      padding-right: 0;
    }
  }
  
  &__social-wrap {
    display: none;
    
    @media (min-width: 768px) {
      display: block;
    }
  }
  
  &__menu-wrap {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    
    @media (min-width: 768px) {
      top: 80%;
      left: auto;
      width: 240px;
    }
    
    @media (min-width: 1200px) {
      display: none;
    }
  }
  

}


