.page-header {
  background-color: $bg-color-header;
  border-width: 0;
  border-bottom-width: 3px;
  border-style: solid;
  border-color: #2c7083;
  border-image-source: linear-gradient(90deg, rgb(242,246,250) 0%, rgb(135,174,186) 20%, rgb(28,102,122) 50%, rgb(135,174,186) 80%, rgb(242,246,250) 100%);
  border-image-slice: 0% 0% 100% 0%;
  
  
  &__logo-wrap {
    padding-top: 17px;
    padding-bottom: 7px;
  }
  
  &__inner {
    @include container();
    position: relative;
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  
  &__social-wrap {
    display: none;
  }
  
  &__menu-wrap {
    display: none;
    position: absolute;
    top: 100%;
  }
  

}


